.technology{
  .top-section{
    align-items: stretch;
    &__left{
      display: flex;
      flex-direction: column;
    }
    &__subtitle{
      text-indent: 144px;
    }
  }
  .video-player{
    margin-top: auto;
  }
  .section-name{
    margin-bottom: 20px;
  }
  &-list{
    display: flex;
    margin-top: 80px;
  }
  &-item{
    position: relative;
    min-height: 600px;
    width: 100%;
    max-width: 20%;
    cursor: pointer;
    color: $white;
    display: flex;
    flex-direction: column;
    &:after{
      position: absolute;
      inset:0;
      content: '';
      z-index: 4;
      background: linear-gradient(180deg, #010100 0%, rgba(223, 160, 0, 0.2) 100%);
      transition: .3s all;
    }
    &:before{
      position: absolute;
      inset:0;
      content: '';
      background: rgba(1, 1, 0, .7);
      z-index: 3;
      transition: .3s all;
    }
    > *:not(.technology-item__img){
      transition: .3s all;
      position: relative;
      z-index: 5;
    }
    &__img{
      position: absolute;
      inset: 0;
      z-index: 2;
      img{
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

    }
    &__number{
      font-family: 'Arvo';
      font-weight: 700;
      font-size: 120px;
      line-height: 100px;
      letter-spacing: -12px;
      color: $white;
      margin-top: auto;
      border-bottom: 1px solid rgba(255,255,255,.2);
    }
    &__content{
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__title{
      font-weight: 700;
      font-size: 25px;
      line-height: 25px;
      min-height: 50px;
      letter-spacing: -.5px;
    }
    &__desc{
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0px;
      opacity: .3;
      min-height: 42px;
    }
    &:hover,
    &.active{
      &:after{
        opacity: 0;
      }
      &:before{
        background: linear-gradient(180deg, rgba(1, 1, 0, 0) 22.56%, #010100 100%);
      }
      .technology-item{

        &__number{
          color: $yellow;
          border-color: $yellow;
        }
        &__desc{
          opacity: 1;
        }
      }
    }
  }
  @media(max-width: $xxl){
    &-item{
      &__number{
        margin-top: 100%;
      }
      &__content{
        margin-top: 0;
      }
    }
  }
  @media(max-width: $xl){
    &-list{
      flex-direction: column;
    }
    &-item{
      min-height: 300px;
      max-width: 100%;
      &__number{
        margin-top: auto;
        border-bottom: 0;
        padding-left: 20px;
      }
      &__desc{
        min-height: unset;
      }
    }
  }
  @media(max-width: $m){
    &-list{
      margin-top: 40px;
    }
    &-item{
      &:hover,
      &.active{
        &:before{
          background: linear-gradient(180deg, rgba(1, 1, 0, 0) 0, #010100 100%);
        }
      }
      &:after{
        display: none;
      }
      &:before{
        background: linear-gradient(180deg, rgba(1, 1, 0, 0) 0, #010100 100%);
        top: 60%;
      }
      &__number{
        font-size: 60px;
        letter-spacing: 0px;
        line-height: 60px;
        margin-top: auto;
      }
      &__title{
        min-height: unset;
      }
      &__content{
        gap: 10px;
      }
      &__desc{
        opacity: 1;
      }
    }
  }
  @media(max-width: $s){
    .top-section{
      &__subtitle{
        text-indent: 0;
      }
    }
  }
}