.footer {
  border-top: 1px solid rgba(0,0,0,.2);
  .half{
    border-left: 1px solid rgba(0,0,0,.2);
    &+.half{
      border-right: 1px solid rgba(0,0,0,.2);
    }
  }
  &__bottom{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }
  &__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0px;
    text-decoration: underline;
    opacity: .4;
    transition: .3s all;
    &:hover,
    &:active{
      opacity: 1;
    }
  }
  @media(max-width: $m){
    .menu{
      flex-direction: column;
    }
    &__bottom{
      flex-direction: column;
    }
  }
}