.number{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  &__num{
    font-weight: 700;
    font-size: 118px;
    line-height: 80%;
    letter-spacing: -11.8px;
    white-space: nowrap;
    b{
     display: inline-block;
      min-width: 250px;
      text-align: center;
    }
  }
  &__desc{
    font-weight: 400;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: -.42px;
  }
  &-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    .info{
      opacity: .5;
      max-width: 224px;
      font-size: 18px;
      line-height: 25px;
    }
    &+.number-wrapper{
      margin-top: 90px;
    }
  }
  @media(max-width: $m){
    &__num{
      font-size: 92.28px;
      line-height: 80%;
      letter-spacing: -9.23px;
      b{
        min-width: 200px;
      }
    }
    &__desc{
      font-size: 17px;
      line-height: 100%;
      letter-spacing: -.34px;
    }
    &-wrapper{
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 40px;
      .info{
        max-width: 100%;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0px;
      }
      &+.number-wrapper{
        margin-top: 40px;
      }
    }
  }
}