.row{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  &_detail{
    justify-content: flex-start;
    gap: 112px;
    .row__block{
      &:first-of-type,
      &:last-of-type{
        max-width: max-content;
        margin-left: 0;
      }
    }
  }
  &__block{
    width: 100%;
    &:first-of-type{
      max-width: 63.3%;
      flex-shrink: 0;
    }
    &:last-of-type{
      max-width: max-content;
      margin-left: auto;
    }
  }
  &+.row{
    margin-top: 68px;
  }
  &__title{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: .4;
  }
  &__desc{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    margin-top: 20px;
    span{
      color: $yellow;
    }
  }
  &__text{
    margin-top: 20px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  @media(max-width: $xxl){
    &__block{
      &:last-of-type{
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
  @media(max-width: $xl){
    flex-wrap: wrap;
    &__block{
      &:first-of-type{
        max-width: 100%;
      }
    }
    &+.row{
      margin-top: 30px;
    }
    &_detail{
      gap: 30px;
    }
  }
}